<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
	  <title>G7-OSWG-ROR-SubWG</title>    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
	  	<img src="./G7 OS.png" style="max-width:100%" />
    <section class="page-header">

      <h1 class="project-name">Placeholder</h1>
	    

Thank you for visiting the page. Please come back on October 12th for the G7 virtual workshop on Research on Research and Open Science.
	   
	  </section>

  </body>
</html>
